*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

body{
  background-color: #fff;
}

div.first-section-div{
  background-color:#fff;
}

hr{
  border: 2px solid rgb(32, 32, 32);
}

header{
  background-image: url('images/header.jpg');
}

.header-div{
  width: 100%;
  height: 22vh;
  background-color: rgba(0,0,0,0.3);
}

.header-div h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
  width: 100%;
  padding-right: 150px;
}





.first-section-div{
  display:flex;
  justify-content: space-around;
}

.first-section-div ul li{
  list-style-type: none;
  display: inline-block;
  margin: 28px;
}

.first-section-div ul li a{
  color:black;
  font-weight: bold;
  
}

.first-section-div ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: black;
  display:block;
  margin: auto;
  transition: 0.5s;
}

.first-section-div ul li:hover::after{
  width: 100%;
}

.first-section-div ul li a:active{
  color: yellow;
  transition: 0.3s;
}







nav{
  display:flex;
  align-items: center;
  padding-top: 0.1%;
  padding-right: 1.5%;
  padding-left: 1.5%;
  justify-content: space-between;
}


.nav-links ul li{
  list-style-type: none;
  display: inline-block;
  position: relative;
  padding: 5px 12px;
}

a{
  text-decoration: none;
}

.nav-links ul li a{
  color: #fff;
  font-weight: bold;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: yellow;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.nav-links ul li a:active{
  color: yellow;
  transition: 0.3s;
}





h1::selection{
  color:yellow;
}

p::selection{
  color:yellow;
}

h2::selection{
  color:yellow;
}

h4::selection{
  color:yellow;
}




.footer-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.footer-div p{
  margin-top:50px;
  margin-bottom: 20px;
}

.before-copy{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}




.container{
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,.5);
}

.two{
  background-color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.two h1{
  margin-bottom: 10px;
  font-size: 35px;
}

.two p{
  margin-bottom: 10px;
  font-size: 20px;
}

.two p, h1{
  width: 80%;
  margin-left: 55px;
  text-align: left;
}

.one{
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.one h1{
  margin-bottom: 10px;
  font-size: 35px;
}

.one p{
  margin-bottom: 10px;
  font-size: 20px;
}

.one p, h1{
  width: 80%;
  margin-left: 55px;
  text-align: left;
}

.two a{
  color: black;
  text-decoration: underline;
}

span{
  font-weight: bold;
}